body {
	font-family: 'Roboto', sans-serif;
}

#menu {
	margin: 10px;
}

#menu .texto {
	font-size: 18px;
	text-transform: uppercase;
	color: #b9b7b6;
}

#menu #search {
	margin-left: 65%;
}

#banner .bkg {
	margin-top: -20em;
}

#banner .large {
	text-transform: uppercase;
	color: #b9b7b6;
}

#banner .age {
	font-size: 16px;
	color: #18a364;
	font-weight: 700;
}

#banner .peli {
	color: #b9b7b6;
}

#banner #icon {
	height: 100px;
}