body {
	font-family: 'Roboto', sans-serif;
}

#menu {
	margin: 10px;
}

#menu .texto {
	font-size: 18px;
	text-transform: uppercase;
	color: #b9b7b6;
}

#menu #search {
	margin-left: 65%;
}

#banner .texto {
	font-size: 40px;
	text-transform: uppercase;
	color: #b9b7b6;
}
